.button {
  margin: 0.5rem 0;
  margin-left: auto;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: inherit;
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  min-width: 6rem;
}
.button:hover {
  background-color: rgba(2, 41, 90, 0.9);
}
